# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
wubi_config.json
user_dict.json
wubi_ime_tsf/cmake/
wubi_ime_tsf/cmake-portable.zip
wubi_ime_tsf/build2/
wubi_ime_tsf/build3/
wubi_ime_tsf/build4/
wubi_ime_tsf/build5/
wubi_ime_tsf/build6/
wubi_ime_tsf/build7/
wubi_ime_tsf/build8/
wubi_ime_tsf/build9/
wubi_ime_tsf/scripts/latest_build_dir.txt
